
     
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #0f172a;
    font-family: Arial, sans-serif;
}


.calculator-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    margin: 0 0 20px 0;
    color: #333;
    font-size: 1.5rem;
}

#screen {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
}


.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
}

button {
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: #e4e6eb;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #d8dadf;
}

button:active {
    transform: scale(0.95);
}

.operator {
    background-color: #ff9500;
    color: white;
}

.operator:hover {
    background-color: #e68600;
}
.backspace {
    background-color: rgb(230, 81, 55);
    color: white;
}
.backspace:hover {
    background-color: rgb(173, 64, 45);
}
.equals {
    background-color: #2ec4b6;
    color: white;
}

.clear {
    background-color: #ff4d4d;
    color: white;
}
